/******* Bluetooth menu  *******/
configuration {
	show-icons: false;
	font: "Iosevka Nerd Font 20";
}

@import "~/.cache/wal/colors-rofi.rasi"
@theme "/dev/null"

window {
	transparency: "real";
	location: center;
	anchor: center;
	fullscreen: false;
	width: 34%;
	height: 42%;
	border-radius: 10px;
	padding: 12px;
}

mainbox {
	children: [ "inputbar", "message", "listview" ];
	spacing: 2%;
}

inputbar {
	children: ["textbox-prompt-colon", "entry"];
	background-color: @bg;
	border-radius: 6px;
	padding: 8px;
}

textbox-prompt-colon {
	str: "󰂯";
	text-color: @fg;
	padding: 0 6px 0 4px;
}

entry {
	placeholder: "Search";
	placeholder-color: @fg;
	text-color: @fg;
	cursor: "text";
}

message {
	padding: 6px 10px;
	background-color: @bg;
	border-radius: 6px;
	text-color: @fg;
}

listview {
	columns: 1;
	lines: 8;
	spacing: 4px;
	scrollbar: true;
}

element {
	border-radius: 6px;
	padding: 6px;
}

element selected {
	background-color: @accent;
	text-color: @bg;
}

textbox {
	text-color: @fg;
	blink: true;
	markup: true;
}
error-message {
	background-color: @bg;
	text-color: @fg;
	padding: 15px;
}