/******* Wallpaper picker *******/
configuration {
	show-icons: false;
	font: "Iosevka Nerd Font 18";
}

@theme "/dev/null"

* {
	bg:      #151515;
	fg:      #e8e8d3;
	accent:  #616569;
	button:  #1c1c1c;

	background-color: @bg;
	text-color:       @fg;
}

window {
	transparency: "real";
	location: center;
	anchor: center;
	fullscreen: false;
	width: 48%;
	height: 46%;
	border-radius: 10px;
	padding: 12px;
}

mainbox {
	children: [ "inputbar", "listview" ];
	spacing: 2%;
}

inputbar {
	children: ["textbox-prompt-colon", "entry"];
	background-color: @button;
	border-radius: 6px;
	padding: 8px;
}

textbox-prompt-colon {
	str: "󰸉";
	text-color: @fg;
	padding: 0 6px 0 4px;
}

entry {
	placeholder: "Wallpaper name";
	placeholder-color: @fg;
	text-color: @fg;
	cursor: "text";
}

listview {
	columns: 2;
	lines: 8;
	spacing: 6px;
	scrollbar: true;
	layout: vertical;
}

element {
	border-radius: 6px;
	padding: 8px;
}

element selected {
	background-color: @accent;
	text-color: #151515;
}

element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
}